body {
	color:black;
	padding-left: 20px;
	font-family: Garamond;
}
div.about-me{
	font-family: Garamond;
}

div.personal-info{
	text-align:center;
	
}
div.assignments{
	font-size:13px;
	text-align:center;
}

